/* This is top header compoent style */
.breadcrumbTop {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    /* margin-bottom: 1rem; */
    list-style: none;
    background-color: white;
    border-radius: .25rem;
}
/* This is main compoent style */
.mainBody{
    padding-left: 10%;
    padding-right: 10%;
}

/* This will used jumbotrom component */
.mainText{
    font-family: "Allan";
    font-style: italic;
    font-size: xxx-large;
}

.subText{
    float: left;
    width: 70%;
}

.image{
    width: 25%; 
}

.jumbotronOn {
    padding: 2rem 1rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    overflow: hidden;
}

/* This Details Compoent style*/

.mainTable{
    width: 100%;
}

.card-body{
    border-radius: 20px;
}

/* This is about us component style */

.ul-modify{
    margin-top: 20px;
    color: #A2EB5C;
}

.hr-border-top{
    border-top: 2px solid;
}

.p-text{
 font-size: 10px;
}